@import "tailwindcss";

@plugin "daisyui" {
  themes: all;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "IranSans";
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box !important;
  list-style: none !important;
  text-decoration: none !important;
  scroll-behavior: smooth !important;
}
